<div class="wrapper" style="background-image: url('assets/images/bg-registration-form-2.jpg');">
    <div class="inner">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" ngNativeValidate>
            <div style="margin-top: -100px;">
                <div class="row" style="padding-top: -4px;">
                    <div class="col-2">
                        <label for=username>Korisničko ime: </label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" type="text" ngModel name="username">
                    </div>
                </div>
                <div class="row" style="padding-top: 4px;">
                    <div class="col-2">
                        <label for=password>Lozinka: </label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" type="password" ngModel name="password">
                    </div>
                </div>
                <input class="btn btn-outline-dark my-2 my-sm-0" type="submit" value="Ulogujte se">
            </div>
        </form>
    </div>

</div>