<div>
    <div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>

            <div class="container" style="margin-top: 25px; margin-left: -2px;">
                <div *ngFor="let field of formFields">
                    <div class="row" style="padding-top: 4px;">
                        <div class="col-4" *ngIf="field.type.name=='string'" >
                            <label for={{field.id}}> {{field.label}}</label>
                        </div>
                        <div class="col-4" *ngIf="field.type.name=='boolean'" >
                            <label for={{field.id}}> {{field.label}}</label>
                        </div>
                        <div class="col-4" *ngIf="field.type.name=='long'" >
                            <label for={{field.id}}> {{field.label}}</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="text" name={{field.id}} ngModel *ngIf="field.type.name=='string'">
                            <input type="checkbox" name={{field.id}} ngModel *ngIf="field.type.name=='boolean'">
                            <input class="form-control" type="number" name={{field.id}} ngModel *ngIf="field.type.name=='long'">
                        </div>
                    </div>
                </div>

                <div *ngFor="let enumeration of enumerations; let i = index">
                    <div class="row">
                        <div class="col-4">
                            <label for={{labels[i]}}>{{labels[i]}}</label>
                        </div>
                        <div class="col-4" *ngIf="multiselect[i]=='true'">
                            <ng-multiselect-dropdown [data]="dropdownList[i]" [settings]="dropdownMultiselectSettings" ngModel name={{names[i]}}></ng-multiselect-dropdown>
                        </div>
                        <div class="col-4" *ngIf="multiselect[i]=='false'">
                            <ng-multiselect-dropdown [data]="dropdownList[i]" [settings]="dropdownSettings" ngModel name={{names[i]}}></ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>

                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Continue">
            </div>
        </form>
    </div>
    
</div>