<div class="wrapper" style="background-image: url('assets/images/bg-registration-form-2.jpg');">
	<div class="inner">
		<form id="registerAdminForm" [formGroup]="registerAdminForm" (ngSubmit)="submitForm()">
			<h3>Registracija administratora</h3>
			<div class="form-group">
				<div class="form-wrapper">
					<label for="">Korisničko ime</label>
					<input type="text" class="form-control" formControlName="username" name="username">
				</div>
				<div class="form-wrapper">
					<label for="">Email</label>
					<input type="text" class="form-control" formControlName="email" name="email">
				</div>
			</div>
			<div class="form-group">
				<div class="form-wrapper">
					<label for="">Ime</label>
					<input type="text" class="form-control" formControlName="name" name="name">
				</div>
				<div class="form-wrapper">
					<label for="">Prezime</label>
					<input type="text" class="form-control" formControlName="lastName" name="lastName">
				</div>
			</div>
			<div class="form-group">
				<div class="form-wrapper">
					<label for="">Grad</label>
					<input type="text" class="form-control" formControlName="city" name="city">
				</div>
				<div class="form-wrapper">
					<label for="">Država</label>
					<input type="text" class="form-control" formControlName="state" name="state">
				</div>
			</div>
			<div class="form-wrapper">
				<label for="">Lozinka</label>
				<input type="password" class="form-control" formControlName="password" name="password">
			</div>

			<button>Registruj</button>
		</form>
	</div>
</div>