<div class="wrapper" style="background-image: url('assets/images/bg-registration-form-2.jpg');">
    <div class="inner" style="margin-top: -20px;">
            <h3>Vaši zadaci</h3>

            <table>

                <tr *ngFor="let task of tasks">
                    <td>{{task.name}}: </td>
                    <td><button class="btn btn-outline-dark my-2 my-sm-0" (click)="complete(task.taskId)">Pogledaj
                            detalje</button></td>
                </tr>

            </table>
    </div>
</div>