<div *ngIf="task">

    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" ngNativeValidate>

        <div class="container" style="margin-top: 25px; margin-left: -2px;">
            <h3>{{task.name}}</h3>
            <div *ngFor="let field of task.formFields">
                <div class="row">
                    <div class="col-4">
                        <label for={{field.id}}> {{field.label}}</label>
                    </div>
                    <div class="col-4">
                        <input type="text" name={{field.id}} ngModel="{{field.value.value}}" *ngIf="field.type.name=='string'">
                        <input type="checkbox" name={{field.id}} ngModel *ngIf="field.type.name=='boolean'">
                        <input type="number" name={{field.id}} ngModel *ngIf="field.type.name=='long'">
                        <ng-multiselect-dropdown [data]="dropdownList" [settings]="dropdownSettings" [(ngModel)]="selectedItems" name={{field.id}} *ngIf="field.type.name=='enum'"></ng-multiselect-dropdown>
                    </div>
                </div>
            </div>
            <input type="submit" value="Završi zadatak">
        </div>
    </form>

</div>